@font-face {
  font-family: "Hanken Grotesk";
  src: url("/assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
  font-family: "Hanken Grotesk";
}

main {
  display: flex;
  width: 50%;
  height: 50%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  box-shadow: 10px 10px 50px hsl(221, 100%, 96%);
}

div.userScore {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 20px;
  width: 50%;
}

.ratingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 35%;
  background-image: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  border-radius: 100%;
  font-weight: 500;
}

h1 {
  font-size: 45px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.scoreFontSize {
  font-size: 50px;
  font-weight: 800;
  color: hsl(0, 0%, 100%);
}

.scoreOfText {
  color: hsl(241, 100%, 89%);
}

.titleHeader {
  font-size: 25px;
  font-weight: 700;
  color: hsl(241, 100%, 89%);
}

.description {
  font-size: 18px;
  font-weight: 500;
  color: hsl(241, 100%, 89%);
  text-align: center;
  width: 70%;
}

div.summary {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 50%;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  color: hsl(224, 30%, 27%);
  width: 80%;
}

.scoreContainer {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  justify-content: space-evenly;
  height: 60%;
  width: 80%;
}

.Reaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 18px;
  font-weight: 700;
  background-color: hsla(0, 100%, 67%, 0.1);
  color: hsl(0, 100%, 67%);
}

.Memory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 18px;
  font-weight: 700;
  background-color: hsla(39, 100%, 56%, 0.1);
  color: hsl(39, 100%, 56%);
}

.Verbal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 18px;
  font-weight: 700;
  background-color: hsla(166, 100%, 37%, 0.1);
  color: hsl(166, 100%, 37%);
}

.Visual {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 18px;
  font-weight: 700;
  background-color: hsla(234, 85%, 45%, 0.1);
  color: hsl(234, 85%, 45%);
}

.decriptionP {
  color: hsl(241, 100%, 89%);
}

.sumOutcome {
  color: black;
}

.aline {
  display: flex;
  gap: 15px;
  align-items: center;
}

button {
  font-size: 20px;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  width: 80%;
  height: 10%;
  border-radius: 30px;
  background-color: hsl(224, 30%, 27%);
  border: none;
  cursor: pointer;
}

button:hover {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border: none;
}

.attribution {
  margin-top: 50px;
}

@media screen and (max-width: 1440px) {
  main {
    width: 720px;
    height: 540px;
  }
}
@media screen and (max-width: 375px) {
  body {
    display: block;
    height: 100vh;
    width: 100vw;
  }
  main {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  div.userScore {
    width: 100%;
    height: 45%;
    border-radius: 0 0 20px 20px;
  }
  .titleHeader {
    font-size: 18px;
    font-weight: 700;
    color: hsl(241, 100%, 89%);
  }
  div.summary {
    width: 100%;
    height: 55%;
  }
  h1 {
    font-size: 25px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
  }
  .description {
    font-size: 15px;
    font-weight: 500;
    color: hsl(241, 100%, 89%);
    text-align: center;
    width: 70%;
    height: 10%;
  }
  .ratingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40%;
    background-image: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
    border-radius: 100%;
    font-weight: 500;
  }
  button {
    font-size: 20px;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    width: 80%;
    height: 15%;
    border-radius: 30px;
    background-color: hsl(224, 30%, 27%);
    border: none;
  }
}/*# sourceMappingURL=style.css.map */